<div class="collapsible collapsible--expended">
  <header class="collapsible__header">
    <h2 class="collapsible__heading">Item 1</h2>
    <svg class="icon collapsible__chevron">
      <use xlink:href="images/sprite.svg#chevron"></use>
    </svg>
  </header>
  <div class="collapsible__content">
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Incidunt magni
      corrupti, nobis assumenda possimus vero consectetur molestias a eos
      quidem, fugit temporibus minus dicta distinctio obcaecati, perferendis
      asperiores sint illo.
    </p>
  </div>
</div>
