<section class="block container">
  <div class="block__header">
    <h2>Host on the cloud to Keep Growing</h2>
    <p class="block__paragraph">
      Scale your business effortlessly with cloud hosting faster performance,
      enhanced security, and the flexibility.
    </p>
  </div>
  <article class="grid grid--1x2 feature">
    <div class="feature__content">
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="images/sprite.svg#easy"></use>
        </svg>
      </span>
      <h3 class="feature__heading">Super Easy to Use</h3>
      <p class="block__paragraph">
        Our platform is designed with simplicity in mind, making it easy for
        anyone to get started—no technical skills required!
      </p>
      <a href="#" class="link-arrow">Learn More</a>
    </div>
    <picture>
      <source
        type="image/webp"
        srcset="images/easy.webp 1x, images/easy@2x.webp 2x"
      />
      <source
        type="image/jpg"
        srcset="images/easy.jpg 1x, images/easy@2x.jpg 2x"
      />
      <img class="feature__image" src="images/easy@2x.jpg" alt="" />
    </picture>
  </article>
  <article class="grid grid--1x2 feature">
    <div class="feature__content">
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="images/sprite.svg#settings"></use>
        </svg>
      </span>
      <h3 class="feature__heading">WordPress Made Great Technology</h3>
      <p class="block__paragraph">
        Built on powerful WordPress tools, our system combines flexibility and
        innovation to help you create stunning websites effortlessly.
      </p>
      <a href="#" class="link-arrow">Learn More</a>
    </div>
    <picture>
      <source
        type="image/webp"
        srcset="images/wordpress.webp 1x, images/wordpress@2x.webp 2x"
      />
      <source
        type="image/jpg"
        srcset="images/wordpress.jpg 1x, images/wordpress@2x.jpg 2x"
      />
      <img class="feature__image" src="images/easy@2x.jpg" alt="" />
    </picture>
  </article>
  <article class="grid grid--1x2 feature">
    <div class="feature__content">
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="images/sprite.svg#easy"></use>
        </svg>
      </span>
      <h3 class="feature__heading">Simply Fast Website</h3>
      <p class="block__paragraph">
        Our platform is designed with simplicity in mind, making it easy for
        anyone to get started—no technical skills required!
      </p>
      <a href="#" class="link-arrow">Learn More</a>
    </div>
    <picture>
      <source
        type="image/webp"
        srcset="images/easy.webp 1x, images/easy@2x.webp 2x"
      />
      <source
        type="image/jpg"
        srcset="images/easy.jpg 1x, images/easy@2x.jpg 2x"
      />
      <img class="feature__image" src="images/easy@2x.jpg" alt="" />
    </picture>
  </article>
  <article class="grid grid--1x2 feature">
    <div class="feature__content">
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="images/sprite.svg#settings"></use>
        </svg>
      </span>
      <h3 class="feature__heading">WordPress Made Great Technology</h3>
      <p class="block__paragraph">
        Built on powerful WordPress tools, our system combines flexibility and
        innovation to help you create stunning websites effortlessly.
      </p>
      <a href="#" class="link-arrow">Learn More</a>
    </div>
    <picture>
      <source
        type="image/webp"
        srcset="images/wordpress.webp 1x, images/wordpress@2x.webp 2x"
      />
      <source
        type="image/jpg"
        srcset="images/wordpress.jpg 1x, images/wordpress@2x.jpg 2x"
      />
      <img class="feature__image" src="images/easy@2x.jpg" alt="" />
    </picture>
  </article>
</section>
