<blockquote class="quote">
  <p class="quote__text">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid minus
    officiis illum officia pariatur eaque voluptatum fuga numquam, minima qui?
  </p>
  <footer>
    <div class="media">
      <div class="media__image">
        <svg class="icon icon--primary quote__line">
          <use xlink:href="images/sprite.svg#line"></use>
        </svg>
      </div>
      <div class="media__body">
        <h3 class="media__title quote__author">Mengify-Heak</h3>
        <p class="quote__company">Just a kid who love code!</p>
      </div>
    </div>
  </footer>
</blockquote>
